:root {
    --background-gui: rgba(255, 255, 255, 0.7);
}

html {
	overflow: hidden;
	overscroll-behavior-x: none;
}

body {
	margin: 0px;
	font-family: roboto;
	user-select: none;
}

button {
	width: 150px;
	padding: 5px;
	font-family: roboto;
	background-color: #e4c29e;
	border: 2px solid #b99e81;
}

button:hover {
	background-color: #d7b998;
}

button:first-of-type {
	border-radius: 15px 15px 0px 0px;
}

button:last-of-type {
	border-radius: 0px 0px 15px 15px;
}

button:only-of-type {
	border-radius: 15px;
}

footer {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
}

a { cursor: pointer; }

#GUI > div {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.titleContainer {
	position: fixed;
	left: 50%;
	top: 50%;
	text-align: center;
    transform: translate(-50%, -50%);
}

.titleContainer > h1 {
	margin-bottom: 50%;
}
.titleContainer > h1 > img {
    height: 35px;
    transform: translate(20%, 20%);
}

#changelog {
	position: absolute;
	left: 0px;
	top: 0px;

	width: 20vw;
	max-width: 300px;
	height: calc(100vh - 40px);

	background-color: var(--background-gui);
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
}
#changelog > span {
	font-weight: bold;
}

.scoreContainer {
	position: fixed;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	background-color: var(--background-gui);
	bottom: 0px;
	left: 0px;
}

.scoreContainer > div {
	padding: 5px;
	font-size: 24px;
}

#lossScreen {
	background-color: var(--background-gui);
	padding: 20px;
	border-radius: 15px;
    transform: translate(-50%, 650%);
    transition: 1s ease-out;
}

@media only screen and (max-device-width: 480px) {
	.scoreContainer {
		width: calc(100% - 40px);
	}

	.titleContainer > h1 {
		font-size: 50px;
	}

	.titleContainer > button {
		font-size: 30px;
		width: 300px;
		border-width: 5px;
		margin: 10px;
	}

    #changelog { display: none; }
    :root {
        --background-gui: rgba(255, 255, 255, 0.5);
    }
    .titleContainer > h1 > img { display: none; }
}
