:root {
    --background-gui: rgba(255, 255, 255, 0.7);
}

html {
	overflow: hidden;
	overscroll-behavior-x: none;
}

body {
	margin: 0px;
	font-family: roboto;
	user-select: none;
    -webkit-user-select: none;
}

button {
	width: 150px;
	padding: 5px;
	font-family: roboto;
	background-color: #e4c29e;
	border: 2px solid #b99e81;
}

button:hover {
	background-color: #d7b998;
}

button:first-of-type {
	border-radius: 15px 15px 0px 0px;
}

button:last-of-type {
	border-radius: 0px 0px 15px 15px;
}

button:only-of-type {
	border-radius: 15px;
}

footer {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
}

a { cursor: pointer; }

#GUI > div {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.container {
    background-color: var(--background-gui);
    border-radius: 15px;
    padding: 15px;
}
.guiContainer {
	position: fixed;
	left: 50%;
	top: 50%;
	text-align: center;
    transform: translate(-50%, -50%);
}
.guiContainer > h1 > img {
    height: 35px;
    transform: translate(20%, 20%);
}
.hiddenGUIContainer {
    transform: translate(-50%, -50%)!important;
}

#changelogContainer {
    position: absolute;
	left: 0px;
	top: 0px;
    
    width: 20vw;
	max-width: 315px;
	max-height: calc(100vh - 40px);

	background-color: var(--background-gui);
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
}
#changelog {
    width: 20vw;
	max-width: 300px;
	max-height: calc(100vh - 40px);

	border-radius: 15px;
    padding-right: 15px;
    
    overflow-y: auto;
}
#changelog > span {
	font-weight: bold;
}
#changelog > h2 {
    text-align: center;
}
#changelog > h2:first-of-type { margin-top: 0px; }
#changelog::-webkit-scrollbar {
    width: 5px;
    transform: translateX(-50%)
}

#changelog::-webkit-scrollbar-track {
    display: none;
    border-radius: 10px;
    transform: translateX(-50%)
}

#changelog::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ccc;
    transform: translateX(-50%)
}

#login {
	position: fixed;
	top: 10px;
	right: 10px;
}
#login > button { border-radius: 15px!important; }

#loadingstatus {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.scoreContainer {
	position: fixed;
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	background-color: var(--background-gui);
	bottom: 0px;
	left: 0px;
}


.scoreContainer > div {
	padding: 5px;
	font-size: 24px;
}

#lossScreen {
	background-color: var(--background-gui);
	padding: 20px;
	border-radius: 15px;
    transform: translate(-50%, 650%);
    transition: 1s ease-out;
}
#lossScreen > img {
	width: 32px;
	display: inline-block;
	cursor: pointer;
}
#lossScreen > img:hover {
	transform: scale(1.1);
}
#scorepage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#scorepage > button { width: 100%; }
#muteBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 32px;
}
#muteBtn:hover {filter:brightness(80%)}
.onlineOnly { display: none!important; }

.mobileOnly { display: none; }

@media only screen and (max-device-width: 480px) {
	.scoreContainer {
		width: calc(100% - 40px);
        display: flex;
        align-items: center;
	}

	.guiContainer > h1 {
		font-size: 50px;
	}

	.titleContainer > button {
		font-size: 30px;
		width: 300px;
		border-width: 5px;
		margin: 10px;
	}

    .desktopOnly { display: none!important; }
    .mobileOnly { display: initial!important; }
    .scoreContainer button { font-size: 24px; }
    button:hover { background-color: #e4c29e!important; }
    button:active { background-color: #d7b998!important; }

    #lossScreen {
        top: 10px;
        width: calc(100% - 60px);
    }
    .hiddenGUIContainer { transform: translate(-50%, 0px)!important; }

    #login {
        position: fixed;
        bottom: 10px;
        top: unset;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
    }
    #titleMenu {
        top: 10px;
        transform: translate(-50%, 0px);
    }
    #signinbtn, #signoutbtn {
        float: unset;
        width: 100%;
    }
}
