html {
    overflow: hidden;
    overscroll-behavior-x: none;
}
body { 
    margin: 0px;
    font-family: roboto;
    user-select: none;
}

button {
    width: 150px;
    padding: 5px;
    font-family: roboto;
    background-color: #E4C29E;
    border: 2px solid #B99E81;
}
button:hover { background-color: #D7B998; }

footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

#GUI > div {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.titleContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.titleContainer > h1 { margin-bottom: 50%; }
.scoreContainer {
    position: fixed;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0px;
    left: 0px;
}
.scoreContainer > div {
    padding: 5px;
    font-size: 24px;
}
#lossScreen {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
}

@media only screen and (max-device-width: 480px) {
    .scoreContainer { width: calc(100% - 40px); }
    .titleContainer > h1 { font-size: 50px; }
    .titleContainer > button {
        font-size: 30px;
        width: 300px;
        border-width: 5px;
        margin: 10px;
    }
}