#inputname {
    border-radius: 15px;
    font-family: "Roboto";
    padding: 5px;
    margin-right: 10px;
    border: 2px solid #b99e81;
}
#nameChangeContainer {
    width: fit-content;
    margin: auto;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#nameChangeContainer ul { text-align: left; }
#nameChangeContainer h1 { margin-top: 0px; }
#bottomStuff { margin-top: 15px; }

#loadingDisplay {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#highScoresContainer {
    width: fit-content;
    max-width: calc(100% - 60px);
    max-height: calc(100vh - 60px);

    margin: 15px auto;

    position: relative;
    top: calc(50% - 15px);
    transform: translateY(-50%);
    
    overflow-y: auto;
    text-align: center;
}
#highScoresContainer > table {
    display: inline-block;
    max-width: 275px;
    text-align: left;
    margin-right: 20px;
}
#highScoresContainer > table:last-of-type { margin-right: 0px; }
#highScoresContainer > table th { text-align: center; }
#highScoresContainer > table td:nth-child(1) { width: 0px; }
#highScoresContainer > table td:nth-child(2) { width: 100%; }

#settingsContainer {
    width: fit-content;
    max-height: calc(100vh - 120px);

    margin: 15px auto;
    
    position: relative;
    top: calc(50% - 15px);
    transform: translateY(-50%);

    overflow-y: auto;
    text-align: center;
}
#settingsContainer p {
    margin: 0px;
    text-align: left;
    font-weight: normal;
}
.settings_entry {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    text-align: left;
}
.settings_entry:first-of-type {margin-top: 0px;}
.settings_input { margin-left: 15px; }

@media only screen and (max-device-width: 480px) {
    #highScoresContainer > table {
        display: inline-block;
        width: 100%;
        text-align: left;
        max-width: unset;
        margin-right: 0px;
    }
    #settingsContainer {
        width: clamp(100% - 60px,
                calc(70% - 60px),
                650px)!important;
        position: block!important;
        top: 0px!important;
        transform: translateY(0px)!important;
    }
    #highScoresContainer {
        position: block!important;
        top: 0px!important;
        transform: translateY(0px)!important;
    }
}