@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-display: swap;
}
html {
    overflow: hidden;
    overscroll-behavior: none;
    font-family: "Roboto";
    font-weight: bold;
}
canvas {
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    top: 0px;
    left: 0px;
}
a {
    color: blue;
    text-decoration: none;
    transition: .1s ease-in-out;
}
a:hover { color: rgb(0, 110, 255); }
input[type=number] {
    width: 50px;
    font-family: "Roboto";
    font-weight: bold;
}

button {
	width: 150px;
	padding: 5px;
	background-color: #e4c29e;
	border: 2px solid #b99e81;
    font-family: "Roboto";
    font-weight: bold;
    margin: 2px 0px;
    color: black;
}
button:not(:disabled):hover { background-color: #d7b998; }
button:first-of-type {
    border-radius: 15px 15px 0px 0px;
    margin-top: 0px;
}
button:last-of-type {
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 0px;
}
button:only-of-type {
    border-radius: 15px;
    margin: 0px;
}

.GUI {
    display: none;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    pointer-events: none;
}
.GUI > * {
    pointer-events: all;
}
*[hide=false] {
    opacity: 1;
    pointer-events: all;
    transition: .3s ease-in-out;
}
*[hide=true] {
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out;
}
.container {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

*::-webkit-scrollbar {
    width: 5px;
    transform: translateX(-50%)
}
*::-webkit-scrollbar-track {
    display: none;
    border-radius: 10px;
    transform: translateX(-50%)
}
*::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ccc;
    transform: translateX(-50%)
}
@media only screen and (max-device-width: 480px) {
    button {
        font-size: .8em;
        width: 5em;
    }
    .GUI[gui=title] button {
        font-size: 1.5em;
        width: 10em;
    }
    #nameChangeContainer { width: calc(100% - 60px)!important; }
}