@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
html { overflow: hidden; }
canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}
.GUI {
    position: absolute;
    top: 0px;
    left: 0px;
}